@keyframes twinkle {

    0%,
    100% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }
}

@keyframes shooting {
    0% {
        transform: translateX(0) translateY(0) rotate(45deg);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        transform: translateX(500px) translateY(500px) rotate(45deg);
        opacity: 0;
    }
}

@keyframes neon-glow-navbar {
    from {
        text-shadow: 0 0 3px #FFD700, 0 0 6px #FFD700;
    }

    to {
        text-shadow: 0 0 5px #FFD700, 0 0 10px #FFD700;
    }
}

@keyframes neon-glow-subtle {
    from {
        text-shadow: 0 0 3px #FFD700, 0 0 6px #FFD700;
    }

    to {
        text-shadow: 0 0 5px #FFD700, 0 0 10px #FFD700;
    }
}

@keyframes shine-move {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}

@keyframes neon-pulse {
    from {
        text-shadow:
            0 0 20px rgba(255, 215, 0, 0.8),
            0 0 40px rgba(255, 215, 0, 0.6),
            0 0 60px rgba(255, 215, 0, 0.4);
    }

    to {
        text-shadow:
            0 0 30px rgba(255, 215, 0, 1),
            0 0 60px rgba(255, 215, 0, 0.8),
            0 0 90px rgba(255, 215, 0, 0.6);
    }
}