body {
    background-color: #000000;
}

.navbar-blur {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.7);
}

.text-gold {
    color: #FFD700;
}

.bg-gold {
    background-color: #FFD700;
}

.border-gold {
    border-color: #FFD700;
}

.hover-gold:hover {
    color: #FFD700;
}